body {
	background-color: #FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
}
body > .header {
	font-size: 2em !important;
}

th{	
	background: #666698; 
	color: #ffffff; 
	font-weight: bold;	
}


a{
	color: #503399; 
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited{
	text-decoration: none;
}

img{
	border:0;
}

input[type="submit"], input[type="button"], input[type="reset"]{	
		font-weight: bold;	
		background: #666698 url(images/ui-bg_highlight-soft_100_666698_1x100.png) 50% 50% repeat-x; 	
		color: #fff;
		padding:5px 10px 5px 10px;
		border: 1px solid #666698;
	}
	
input[type="submit"]:hover, input[type="button"]:hover , input[type="reset"]:hover{	
		font-weight: bold;	
		background: #ddddee url(images/ui-bg_highlight-soft_100_ddddee_1x100.png) 50% 50% repeat-x; 	
		color: #000;
		padding:5px 10px 5px 10px;
		border: 1px solid #666698;
	}
	
input[type="submit"][disabled], input[type="button"][disabled], input[type="reset"][disabled]{	
		font-weight: bold;	
		background: #ddddee url(images/ui-bg_highlight-soft_100_ddddee_1x100.png) 50% 50% repeat-x; 	
		color: #CCC;
		padding:5px 10px 5px 10px;
		border: 1px solid #666698;
	}
	
input[type="text"][disabled], select[disabled]{	
		background: #EEE; 	
		color: #000;
	}
	
input, select ,textarea{
		border: 1px solid #666698;
		font-size: 12px;		
		color: #222222; 
		padding:3px 0px 3px 0px;		
	}

.textblue{
	color: #009;	
}

.textgreen{
	color: #3C0;	
}

.textred{
	color: #F00;	
}

.textorange{
	color: #FF9900;	
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
}

.highlightYellow { background:#FFFF00; }
.highlightRed { background:#F00; }
.highlightGreen { background:#AFA; }

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 300px;
}

.text-bold{
	font-weight: bold;
}